form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 25px 0;
}

label {
    display: block;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
}

.role-input {
    padding: 10px;
    border-radius: 10px;
}
