select {
    border: none;
    background-color: rgb(240, 240, 240);
    padding: 6px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.theme-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.theme-form-buttons {
    display: flex;
    gap: 5px;
}

.theme-selector {
    text-align: end;
    margin-bottom: 7px;
}

.theme-form > input {
    border-radius: 10px;
    margin-bottom: 17px;
    padding-left: 10px;
}
